{{ define "main" }}
    <div class="pa3 pa4-ns w-100 w-70-ns center">
      <h1>Arctic Invitational</h1>
      <p>Event starts in:</p>
      <p>00 Days, 00 Hours, 00 Mins</p>
      <p>100 000 €
        prize pool</p>
      <p>September 14th
        Arctic Invitational</p>
      <p>Hartwall Arena
        Helsinki, Finland</p>
      <p><b>CR4ZY invited to Arctic - NRG Esports withdraws</b><br>
        16.7.2019 - 20:59</p>
    <h3>5G Liiga</h3>
    <p>Become the global 5G mobile gaming champion at the Arctic Invitational.

        Elisa, OnePlus and Hatch are bringing global mobile eSports to Finland. Finals will be played on Hatch at the Arctic Invitational on Sept. 14.
        
        The 32 finalists will be selected through qualification tournaments which will be organized in Asia, America and Finland. Winner of the final will be crowned the undisputed champion of 5G mobile gaming.</p>
      
      
      <h2>Mihin lainoihin kannattaa tutustua? </h2>
          Alla muutamia loistavia laina-sivuja:
          <ul>
            <li><a href="https://www.lmvma.com/pikavippi-500e/" class="link">vippi 500</a></li>
            <li><a href="https://www.pikalainakeskus.fi/pikavippi-500e/" class="link">pikavippi 500</a></li>
            <li><a href="https://www.pikavippi18v.com/pikalaina-6kk/" class="link">pikalaina 6kk</a></li>
          </ul> 
          Kannattaa aluksi tutustua ainakin näihin!
      </div>
{{ end }}
